.wrapper {
  background: #ffffff;
}
.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 22px;
  font-family: 'Inter Regular', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  column-gap: 20px;
  &__item {
    font-family: 'Inter Regular', sans-serif;
    font-size: 18px;
    padding: 10px 18px;
    border: none;
    background: none;
    cursor: pointer;
  }
  &__item:last-child {
    font-family: 'Inter Regular', sans-serif;
    font-size: 18px;
    padding: 10px 18px;
    border: 1px solid #52c41a;
    color: #52c41a;
    border-radius: 5px;
  }
}
